[lotus]
client_api_url = "http://[ip]:[port]/rpc/v0"   # Url of lotus client web api, generally the [port] is 1234
client_access_token = ""   # Access token of lotus client web api, it should have admin access right

[main]
api_url = "https://api.filswan.com"
api_key = ""
access_token = ""
storage_server_type = "ipfs server"

[web_server]
download_url_prefix = "https://nbai.io:443/download"

[ipfs_server]
download_url_prefix = "http://[ip]:[port]"
upload_url_prefix = "http://[ip]:[port]"

[sender]
bid_mode = 1
offline_mode = false
output_dir = "/tmp/tasks"
public_deal = true
verified_deal = true
fast_retrieval = true
skip_confirmation = false
generate_md5 = false
wallet = ""
max_price = "0"
start_epoch_hours = 96
expire_days = 4
gocar_file_size_limit=8589934592
duration = 1051200    # Duration is expressed in blocks (1 block is equivalent to 30s).
relative_epoch_from_main_network = 0 # Your network current epoch - main network current epoch
