[lotus]
client_api_url = "http://[ip]:[port]/rpc/v0"   # Url of lotus client web api, generally the [port] is 1234
client_access_token = ""   # Access token of lotus client web api, it should have admin access right

[main]
api_url = "https://api.filswan.com"
api_key = ""
access_token = ""
storage_server_type = "ipfs server"

[web_server]
download_url_prefix = "https://nbai.io:443/download"

[ipfs_server]
download_url_prefix = "http://[ip]:[port]"
upload_url_prefix = "http://[ip]:[port]"

[sender]
bid_mode = 1     # 1: auto bid, 0: manual bid, 2: not use bid, when creating task, set miners and sending deals
offline_mode = false
output_dir = "/tmp/tasks"
verified_deal = true
fast_retrieval = true
skip_confirmation = false
generate_md5 = false
wallet = ""
max_price = "0"
start_epoch_hours = 96
expire_days = 4
gocar_file_size_limit = 8589934592
gocar_folder_based = false
duration = 1051200    # Duration is expressed in blocks (1 block is equivalent to 30s).
max_auto_bid_copy_number = 8 # max copy number you want to send